@font-face {
  font-family: circular_black;
  src: url(../fonts/circularStdBlack.otf);
}

@font-face {
  font-family: circular_black_italic;
  src: url(../fonts/circularStdBlackItalic.otf);
}

@font-face {
  font-family: circular_bold;
  src: url(../fonts/circularStdBold.otf);
}

@font-face {
  font-family: circular_bold_italic;
  src: url(../fonts/circularStdBoldItalic.otf);
}

@font-face {
  font-family: circular_medium;
  src: url(../fonts/circularStdMedium.otf);
}

@font-face {
  font-family: circular_medium_italic;
  src: url(../fonts/circularStdMediumItalic.otf);
}

@font-face {
  font-family: circular_book;
  src: url(../fonts/circularStdBook.otf);
}

@font-face {
  font-family: circular_book_italic;
  src: url(../fonts/circularStdBookItalic.otf);
}