body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
}

a {
  text-decoration: none;
}

#particle {
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0; 
  position: absolute; 
  background-color: #F66263;
}
#overlay {
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0; 
  position: absolute; 
}

.avoidParticles {
  position: relative;
  top: 100vh;
}

/*intro of home*/

div.intro {
  min-height: 100vh;
  min-width: 100vw;
 /* background-color: #F66263;*/
  text-align: center;
}

.introGrid {
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 500px 470px;
  grid-gap: 150px;
}

.introText {
  max-width: 500px;
  margin-top: 110px;
  color: #FFFFFF;
  font-family: 'Circular Std Bold';
  text-align: left;
}

p.helloText {
  line-height: 82px;
  font-size: 65px;
}
p.bioText{
  line-height: 44px;
  font-size: 35px;
}

img.me {
  margin-top: 155px;
}

#scrollTo {
  cursor: pointer;
}

.downIndicator {
  width: 35px;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20px;
}

/*cards of home*/

.cards {
  text-align: center;
}

.cardGrid {
  display: inline-grid;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 60px 40px;
  margin-top: 60px;
}

.card {
  width: 250px;
  height: 350px;
  border-radius: 8px;
  background-color: #FFFFFF;
  text-align: left;
  box-shadow: 0 15px 20px 0 rgba(0,0,0,0.10);
  transition: all .3s;
}

p.cardName {
  margin-left: 28px;
  margin-top: 28px;
  color: #575757;
  font-family: 'Circular Std Medium';
  font-size: 19px;
}

p.cardType {
  margin-top: 5px;
  margin-left: 28px;
  color: #9CA5B0;
  font-family: 'Circular Std Book';
  font-size: 15px;
}

#cardHover {
  position: relative;
  top: 0;
  transition: all ease-in-out 0.25s;
}

#cardHover:hover {
  top: -20px;
  transition: all ease-in-out 0.25s;
}

/*for shadow*/
.card:hover {
  box-shadow: 0 30px 40px 0 rgba(0,0,0,0.15);
  transition: all .3s;
}

/*footer*/

footer {
  max-width: 995px;
  margin: 0 auto;
}

hr {
  margin-top: 122px;
  margin-bottom: 0px;
  color: #ECE8E8;
}

.footerLabels {
  display: flex;
  justify-content: space-between;
}

.leftLabel {
  margin: 58px 0px 100px 0px;
  color: #9CA5B0;
  font-family: 'Circular Std Book';
  font-size: 14px;
}

.rightLabel {
  margin: 58px 0px 100px 0px;
  color: #9CA5B0;
  font-family: 'Circular Std Book';
  font-size: 14px;
}

.reachOut {
  width: 133px;
  height: 45px;
  margin: -24px auto 0px auto;
  margin-top: -24px;
  left: 0; 
  right: 0;
  display: inline-block;
  position: absolute;
  border-radius: 15px;
  background-color: #F66263;
  color: #FFFFFF;
  text-align: center;
  line-height: 45px;
  font-family: 'Circular Std Book';
  transition: all .1s linear;
}

.reachOut:hover {
  transition: all .1s linear;
  margin-top: -26px;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.20);
}

/*nav*/

.container {
  max-width: 1280px;
  margin: 0px auto;
}

nav {
  height: 70px;
  z-index: 1;
  width: 100%;
  position: fixed;
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-top: 15px;
  margin-left: 80px;
  background-color: white;
  display: inline-block;
}

nav li a {
  margin-left: 40px;
  position: relative;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Circular Std Book';
}

nav ul {
  right: 80px;
  float: right;
  position: relative;
}

nav #menu li {
  display: inline-block;
  cursor: pointer;
  line-height: 70px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li a {
  color: #fff;
}

.underlineOnHover::before {
  content: " ";
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  right: 0;
  position: absolute;
  background: #FFFFFF;
  transform: scale(0,1);
  transition: transform ease-in-out 250ms;
}

.underlineOnHover:hover::before {
  transform: scale(1,1);
}

#menu li a.current::before {
  content: " ";
  width: 100%;
  height: 2px;
  bottom: -5px;
  background: #FFFFFF;
  transform: scale(1,1);
}

#toggle {
  width: 25px;
  height: 17px;
  right: 80px;
  top: 26.5px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  height: 3px;
  margin-bottom: 4px;
  background: #333;
  backface-visibility: hidden;
  background-color: #FFFFFF;
  transition: all 0.3s ease-out
}

#toggle.on #one {
  background-color: #000000;
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

#toggle.on #two {
  opacity: 0;
}

/*up*/
#toggle.on #three {
  background-color: #000000;
  transform: rotate(-45deg) translateX(4px) translateY(-4px);
}

#resize {
  width: 100%;
  height: 100%;
  top: 0px;
  display: table;
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

#resize ul {
  height: 50px;
  display: table-cell;
  padding-top: 100px;
  /*vertical-align: middle;*/
}

#resize li {
  margin-left: 80px;
  margin-top: 40px;
  min-height: 50px;
  position: relative;
  font-family: 'Circular Std Book';
  display: table;
  text-align: left;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize #menu li a {
  color: #212121;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

#resize li a::before {
  content: " ";
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: 0;
  right: 0;
  position: absolute;
  background: #000000;
  transform: scale(0,1);
  transition: transform ease-in-out 250ms;
}

#resize li a:hover::before {
  transform: scale(1,1);
}

#resize li a.current::before {
  content: " ";
  width: 100%;
  height: 5px;
  bottom: -10px;
  background: #000000;
  transform: scale(1,1);
}

.skipTo {
  left: -2000px;
  position: fixed;
  z-index: 2; 
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Circular Std Book';
  text-decoration: none;
}

a.skipTo:focus{
  top: 26.5px;
  left: 12.5%;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}

.navbarFixedTop.scrolled {
  background-color: #F66263 !important;
/*  border-bottom: 2px solid #E65957;*/
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.20);
  transition: background-color 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out
}

.navbarFixedTop { 
  transition: background-color 200ms ease-in-out; 
  transition: box-shadow 200ms ease-in-out
}

/*accounting for different screen sizes*/

@media only screen and (max-width: 1279px) {
  div.intro {
    text-align: left;
  }

  .introGrid {
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: 600px 470px;
    grid-gap: 90px;
  }

  .introText {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 1200px) {
  .cardGrid {
    grid-template-columns: 250px 250px 250px;
  }

  footer {
    width: 705px;
  }
}

@media only screen and (max-width: 1120px) {
  .introGrid {
    grid-template-columns: 472px 360px;
    grid-gap: 80px;
  }
}

@media only screen and (max-width: 932px) {
  .introGrid {
    grid-template-columns: 600px;
  }

  img.me {
    display: none;
  }
}

@media only screen and (max-width: 910px) {
  .cardGrid {
    grid-template-columns: 250px 250px;
  }

  footer {
    width: 415px;
  }
}

@media only screen and (max-width: 660px) {
  .cardGrid {
    grid-template-columns: 250px 250px;
    grid-gap: 60px 30px;
  }  
}

@media only screen and (max-width: 620px) {
  nav ul li {
    margin-left: 30px;
  }

  .logo {
    margin-left: 30px;
  }

  #toggle {
    right: 30px;
  }

  .navbarToggle {
    position: absolute;
    right: 30px;
  }

  #resize li {
    margin-left: 30px;
  }

  .introGrid {
    grid-template-columns: 100%;
  }

  .introText {
    margin-left: 30px;
    margin-right: 30px;
  }

  .cardGrid {
    grid-template-columns: 250px;
  }

  footer {
    width: 250px;
    text-align: center;
  }

  .footerLabels {
    display: inline-block;
  }

  .leftLabel {
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .rightLabel {
    margin-top: 10px;
    margin-right: 0px;
  }

  .reachOut:hover {
    transition: none;
    margin-top: -24px;
    box-shadow: none;
  }
}
