body.home {
  margin: 0;
  background-color: #F66263;
}

body.content {
  margin: 0;
  background-color: #E1DDDD;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
}

/*footer {
  width: 870px;
}*/

.introContainer {
  display: inline-block;
  text-align: left;
  color: #FFFFFF;
  font-family: 'Circular Std Bold';
}

p.introHello {
  line-height: 82px;
  font-size: 65px;
}
p.introBody{
  line-height: 44px;
  font-size: 35px;
}

img.me {
  margin-top: 45px;
  display: inline-block;
}

.homeGrid {
  margin-top: 60px;
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 450px 300px;
  grid-gap: 170px;
}

.downIndicator {
  display: block;
  position: center;
  background-color: black;
}


hr {
  background-color: #ECE8E8
}

a {
  text-decoration: none;
}

#cardHover {
  position: relative;
  top: 0;
  transition: all ease-in-out 0.25s;
}
#cardHover:hover {
  top: -20px;
}

.card:hover {
  box-shadow: 0 30px 40px 0 rgba(0,0,0,0.15);
  transition: all .3s;
}

.cardGrid {
  margin-top: 60px;
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 60px 40px;
}

.card {
  box-shadow: 0 15px 20px 0 rgba(0,0,0,0.10);
  width: 250px;
  border-radius: 8px;
  height: 350px;
  background-color: #FFFFFF;
  display: inline-block;
  transition: all .3s;
  text-align: left;
}

.skipTo {
  position: relative;
  z-index: 1000; 
  left: -2000px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Circular Std Book';
}

a:focus{
  border: 1px, solid black;
}

a.skipTo:focus{
  left: 80px;
  top: 35px;
  border: 2px, solid black
}

p.cardName {
  margin-left: 28px;
  margin-top: 28px;
  font-family: 'Circular Std Medium';
  color: #575757;
  font-size: 19px;
}

p.cardType {
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 28px;
  font-family: 'Circular Std Book';
  color: #9CA5B0;
  font-size: 15px;
}

p.footer {
  margin-bottom: 0;
  font-family: 'Circular Std Book';
  color: #9CA5B0;
  font-size: 14px;
}

section.home {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
}

section.content {
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
  text-align: center;
}

/*#scroll nav {
  top=:-87px;
}*/

nav {
  text-align: right;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

nav ul {
  margin-right: 80px;
}

nav ul li {
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 30px;
  position: relative;
}

nav li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Circular Std Book';
}

nav a::before {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  background: #FFFFFF;
  position: absolute;
  bottom: 28px;
  left: 0;
  right: 0;
  transform: scale(0,1);
  transition: transform ease-in-out 250ms;
}

nav a.current::after {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 28px;
  background-color: #FFFFFF;
}

nav a:hover::before {
  transform: scale(1,1);
}

.navbar-fixed-top.scrolled {
  background-color: #E95B5C !important;
  border-bottom: 2px solid #E65957;
  transition: background-color 200ms ease-in-out
}

/*.navbar-fixed-top.scrolled .nav-link {
  color: black;
}*/

.navbar-fixed-top { 
  transition: background-color 200ms ease-in-out; 
}

nav a:hover::before {
  transform: scale(1,1);
}

@media only screen and (max-width: 1200px) {
  .cardGrid {
    grid-template-columns: 250px 250px 250px;
  } 
}

@media only screen and (max-width: 1080px) {
  .homeGrid {
    grid-template-columns: 450px 300px;
    grid-gap: 50px;
  }
}

@media only screen and (max-width: 960px) {
  .homeGrid {
    grid-template-columns: 450px;
    grid-gap: 0px;
  }

  img.me {
    display: none;
  }
}

@media only screen and (max-width: 910px) {
  .cardGrid {
    grid-template-columns: 250px 250px;
  }  
}

@media only screen and (max-width: 660px) {
  .cardGrid {
    grid-template-columns: 250px 250px;
    grid-gap: 60px 30px;
  }  
}

@media only screen and (max-width: 620px) {
  .cardGrid {
    grid-template-columns: 250px;
  }  
}

@media only screen and (max-width: 610px) {
  .homeGrid {
    grid-template-columns: auto;
  }
  .introContainer {
    margin-right: 40px;
    margin-left: 40px;
  }
}
















/*  .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0px;
    padding-top: 35px;
    padding-bottom: 35px;s
    margin-left: 30px;

    height: 100%;
    background-color: #E95B5C;
}*/
}




/*body {
  margin: 0;
  background-color: #F66263;
}

header {
  z-index: 999;
  width: 100%;
}

nav {
  text-align: right;
  background-color: #E95B5C;
  width: 100%;
}

nav ul li {
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: 30px;
  position: relative;
}

nav li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Circular Std Book';
}

nav a::before {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  background: #FFFFFF;
  position: absolute;
  bottom: 28px;
  left: 0;
  right: 0;
  transform: scale(0,1);
  transition: transform ease-in-out 250ms;
}

nav a.current::after {
  content: " ";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 28px;
  background-color: #FFFFFF;
}

nav a:hover::before {
  transform: scale(1,1);
}

/*.container {
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

.introContainer {
  display: inline-block;
  background-color: black;
  width: 454px;
  margin-top: -30px;
  margin-left: 80px;
  color: #FFFFFF;
  font-family: 'Circular Std Bold';
  position: static;
}

p.introHello {
  line-height: 82px;
  font-size: 65px;
}
p.introBody{
  line-height: 44px;
  font-size: 35px;
}

img {
  margin-left: 174px;
  margin-top: 137px;
  display: inline-block;
}